fastapi
uvicorn[standard]

SQLAlchemy>=2.0.31,<2.1.0
psycopg2-binary>=2.9.10

python-dotenv
python-multipart

passlib[bcrypt]
python-jose[cryptography]
email-validator

pydantic>=2.8.0,<2.10.0
pydantic-settings>=2.4.0,<2.5.0

openpyxl
reportlab
xlsxwriter
